html,
body {
    margin: 0;
    padding: 0;
    background: #CDCDCD;

}

a {
    text-decoration: none;
}

#nav {
    padding: 10px 0;
    font-size: 24px;
    background: rgba(47, 47, 47, 0.98);
    font-weight: bold;
    text-align: center;
    color: #fff;
}

#nav a {
    color: #fff;
    margin: 0 33px;
}

#nav a.router-link-exact-active {
    color: #42b983;
}

.main {
    margin: 10px auto;
    max-width: 600px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow: auto;
        max-height: 260px;
    }

    section {
        max-height: 300px;
    }

    li {
        height: 32px;
        text-align: center;
        line-height: 32px;
        background: #fff;
        position: relative;
        margin-bottom: 10px;
        padding: 0 45px;
        border-radius: 3px;
        border-left: 5px solid #629a9c;
        border-right: 5px solid #629a9c;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    }

    header {
        text-align: center;

        input {
            width: 100%;
            height: 36px;
            text-indent: 10px;
            border-radius: 5px;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24),
                0 1px 6px rgba(0, 0, 0, 0.45) inset;
            border: none;
        }
    }

    h3 {
        position: relative;

        span {
            position: absolute;
            top: 2px;
            right: 5px;
            display: inline-block;
            padding: 0 5px;
            height: 20px;
            border-radius: 20px;
            background: #e6e6fa;
            line-height: 22px;
            text-align: center;
            color: #666;
            font-size: 14px;
        }
    }



    li .complete {
        display: none;
        position: absolute;
        top: 0px;
        left: 10px;
        bottom: 0px;
        font-size: 30px;
        color: #98cecb;
        border: 0;
        background: 0;
        line-height: 30px;
        transition: color 0.2s ease-out;
    }

    li .complete:hover {
        color: #8cebe6;
    }

    li .complete:after {
        content: "√";
    }

    li:hover .complete {
        display: block;
    }

    li .destroy {
        display: none;
        position: absolute;
        top: 0px;
        right: 10px;
        bottom: 0px;
        font-size: 30px;
        color: #cc9a9a;
        border: 0;
        background: 0;
        line-height: 30px;
        transition: color 0.2s ease-out;
    }

    li .destroy:hover {
        color: #af5b5e;
    }

    li .destroy:after {
        content: "×";
    }

    li:hover .destroy {
        display: block;
    }

    .done {
        border-left: 5px solid #999 !important;
        border-right: 5px solid #999 !important;
        opacity: 0.5;
    }

}


@media screen and (max-width: 600px) {
    .main {
        h3 {
            margin-left: 10px;
        }

        header input {
            width: 99%;
        }
    }

    #nav a {
        color: #fff;
        margin: 0 15px;
        font-size: 18px;
    }

    .login-view {
        width: 300px;
        height: 480px;
        border: 1px solid #fff;
        border-radius: 20px;
        margin: 50px auto;

        .login-logo {
            width: 104px;
            height: 104px;
            margin: 30px auto 30px;
            background: url('../../assets/images/login.png') 0 0 no-repeat;
        }

        .form-item {
            position: relative;
            width: 260px;
            margin: 0 auto;
            padding-bottom: 30px;

            input {
                width: 180px;
                height: 48px;
                padding-left: 70px;
                border: 1px solid #fff;
                border-radius: 25px;
                font-size: 18px;
                color: #fff;
                background-color: transparent;
                outline: none;
            }

            #username {
                background: url('../../assets/images/emil.png') 20px 14px no-repeat;
            }

            #password {
                background: url('../../assets/images/password.png') 23px 11px no-repeat;
            }

            .login-btn {
                width: 260px;
                height: 50px;
                border: 0;
                border-radius: 25px;
                font-size: 18px;
                color: #1f6f4a;
                outline: none;
                cursor: pointer;
                background-color: #fff;
            }
        }

        .reg-bar {
            width: 280px;
            margin: 20px auto 0;
            font-size: 14px;
            overflow: hidden;

            a {
                color: #fff;
                text-decoration: none;
            }

            .reg {
                float: left;
            }

            .forget {
                float: right;
            }
        }

        .tip {
            position: absolute;
            left: 20px;
            top: 42px;
            font-size: 14px;
            color: #f50;
        }
    }

}